<section class="text-center pb-3 col-sm-12">

  <!--Section heading-->
  <div class="row"></div>

  <h2 class="font-weight-bold h1 py-5">
    <strong>High School </strong>
  </h2>
  <!--Section description-->
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <pre class="grey-text pb-5 text-center">
          School Name:    George High/Hoer <br>
          School Address: Levallia, George, 6529 <br>
          Phone:          044 871 1194

          Highest Grade passed: Grade 12
          Year of Completion:   2013
        </pre>
    </mat-grid-tile>
    <mat-grid-tile><img src="../../assets/images/maps.gif"></mat-grid-tile>
  </mat-grid-list>

</section>

<section class="text-center pb-3 col-sm-12">
  <div class="row"></div>

    <h2 class="font-weight-bold h1 py-5">
      <strong>Tertiary Education </strong>
    </h2>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <pre class="grey-text pb-5 text-center">
          School Name:    University of the Western Cape <br>
          School Address: Robert Sobukwe Rd, Bellville, Cape Town, 7535 <br>
          Phone:          +27 21 959 2911<br>

        Qualification Obtained: Bsc Computer Science (undergrad)
        Year of Completion:     2018
      </pre>
    </mat-grid-tile>
    <mat-grid-tile><img src="../../assets/images/mapsWEC.png"></mat-grid-tile>
  </mat-grid-list>
</section>





