mat-card{
  background-image: url("../../assets/images/CPT.jpg");
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
}

.text-style{
  font-size: 20vw;
  font-family: Jazz LET, fantasy;
  font-style: italic;
  font-feature-settings: inherit;
  border-radius: 8px;
}
h1{
  opacity: 0.1;
}


