<form class="example-form">
  <div fxLayout="row" fxLayoutGap="50px">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact No">
    </mat-form-field>
  </div>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field></td>
  </tr></table>
</form>

<div fxLayout="row" fxLayoutAlign="start center">
  <input type="button" class="btn btn-primary btn-block" value="Send Request">
</div>
