.bounds {
  background-color:#ddd;
  min-height: fit-content;
  max-height: 200px;

}

.sec1 {
  background: #a3abd3;
  color:white;
}

.sec2 {
  background: #a3abd3;
  color:white;

}

.sec3 {
  background:  #a3abd3;
  color:white;
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

.content {
  min-width: 100px;
  /*height: 400px;*/
}
