<div class="bounds">

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >

    <div fxLayout="column" fxFlex="35" fxFlex.xs="15" class="sec2" >
      <h2>Physics Tutor</h2>
      <table class="table table-hover" fxFlex="150">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2015</td>
          <td>2016</td>
        </tr>
        </tbody>
      </table>
    </div>
    <mat-divider [vertical]="true"></mat-divider>

    <div fxLayout="column" fxFlex="35" fxFlex.xs="15" class="sec2" >
     <h2 fxFlex="300">Lab Assistant</h2>
      <table class="table table-hover" fxFlex="150">
        <thead >
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>2018</td>
          <td>Current</td>
        </tr>
        </tbody>
      </table>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div fxLayout="column" fxFlex="35" fxFlex.xs="15" class="sec2" >
      <h2>Intern Developer</h2>
      <table class="table table-hover" fxFlex="150">
        <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        </thead>
        <tbody >
        <tr>
          <td>2018</td>
          <td>Current</td>
        </tr>
        </tbody>
      </table>
  </div>
  </div>

</div>
