<mat-card>
  <mat-card-header><div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dolfie Jacobs</mat-card-title>
    <mat-card-subtitle>Web Developer</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="More About Me"><app-aboutme></app-aboutme></mat-tab>
      <mat-tab label="Academics"><mat-card><app-academics></app-academics></mat-card></mat-tab>
      <mat-tab label="Work Experience"> <app-workexperience></app-workexperience> </mat-tab>
      <mat-tab label="Projects"> None </mat-tab>
      <mat-tab label="Request Services">
        <form class="example-form">
          <div fxLayout="row" fxLayoutGap="50px">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contact No">
            </mat-form-field>
          </div>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field></td>
          </tr></table>
        </form>

        <div fxLayout="row" fxLayoutAlign="start center">
          <input type="button" class="btn btn-primary btn-block" value="Send Request">
        </div>

      </mat-tab>


    </mat-tab-group>

  </mat-card-content>

</mat-card>
